<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <Format>Cobertura</Format>
          <CodeCoverage>
            <EnableStaticManagedInstrumentation>True</EnableStaticManagedInstrumentation>
            <EnableDynamicManagedInstrumentation>True</EnableDynamicManagedInstrumentation>
            <Attributes>
              <Exclude>
                <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
                <Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>
              </Exclude>
            </Attributes>
            <Functions>
              <Exclude>
                <Function>^Bogus.*</Function>
                <Function>^DryIoc.*</Function>
                <Function>^FakeItEasy.*</Function>
                <Function>^FluentAssertions.*</Function>
                <Function>^JetBrains\..*</Function>
                <Function>^Microsoft\..*</Function>
                <Function>^Moq.*</Function>
                <Function>^NSubstitute.*</Function>
                <Function>^Nuke.*</Function>
                <Function>^Serilog.*</Function>
                <Function>^System\..*</Function>
                <Function>^TUnit.*</Function>
                <Function>^Verify.*</Function>
                <Function>^XUnit.*</Function>
              </Exclude>
            </Functions>
            <ModulePaths>
              <Include>
                <ModulePath>.*\.build\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Nuke\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Nuke\.Tests\.dll</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*Bogus\.dll</ModulePath>
                <ModulePath>.*Buildalyzer\.dll</ModulePath>
                <ModulePath>.*FakeItEasy\.Analyzer\.CSharp\.dll</ModulePath>
                <ModulePath>.*FakeItEasy\.dll</ModulePath>
                <ModulePath>.*GitVersion\.Tool\.dll</ModulePath>
                <ModulePath>.*Humanizer\.Core\.dll</ModulePath>
                <ModulePath>.*JetBrains\.Annotations\.dll</ModulePath>
                <ModulePath>.*JetBrains\.dotCover\.CommandLineTools\.dll</ModulePath>
                <ModulePath>.*JetBrains\.ExternalAnnotations\.dll</ModulePath>
                <ModulePath>.*JetBrains\.ReSharper\.GlobalTools\.dll</ModulePath>
                <ModulePath>.*LibGit2Sharp\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Build\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Build\.Framework\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Build\.Locator\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Build\.Tasks\.Core\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Build\.Utilities\.Core\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.Analyzers\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.BannedApiAnalyzers\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.PublicApiAnalyzers\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeCoverage\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.FileSystemGlobbing\.dll</ModulePath>
                <ModulePath>.*Microsoft\.NET\.Test\.Sdk\.dll</ModulePath>
                <ModulePath>.*Microsoft\.SourceLink\.GitHub\.dll</ModulePath>
                <ModulePath>.*Nuke\.Common\.dll</ModulePath>
                <ModulePath>.*ReportGenerator\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Extensions\.Testing\.FakeItEasy\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Extensions\.Testing\.XUnit\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.MSBuild\.CI\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.MSBuild\.GitVersion\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.MSBuild\.GlobalAnalyzerConfig\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.MSBuild\.SourceLink\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.MyAssembly\.dll</ModulePath>
                <ModulePath>.*Roslynator\.Analyzers\.dll</ModulePath>
                <ModulePath>.*Roslynator\.CodeAnalysis\.Analyzers\.dll</ModulePath>
                <ModulePath>.*Roslynator\.CodeFixes\.dll</ModulePath>
                <ModulePath>.*Roslynator\.Formatting\.Analyzers\.dll</ModulePath>
                <ModulePath>.*Roslynator\.Refactorings\.dll</ModulePath>
                <ModulePath>.*Serilog\.Extensions\.Logging\.dll</ModulePath>
                <ModulePath>.*Shouldly\.dll</ModulePath>
                <ModulePath>.*System\.Collections\.Immutable\.dll</ModulePath>
                <ModulePath>.*xunit\.analyzers\.dll</ModulePath>
                <ModulePath>.*xunit\.dll</ModulePath>
                <ModulePath>.*xunit\.runner\.visualstudio\.dll</ModulePath>
                <ModulePath>.*YamlDotNet\.dll</ModulePath>
              </Exclude>
            </ModulePaths>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>