<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <!-- <Exclude>[Bogus*]*,[Autofac*]*,[FakeItEasy*]*,[xunit*]*,[Microsoft.*]*,[XunitXml*]*,[coverlet.*]*,[System.*]*,[*]JetBrains.Annotations*</Exclude> -->
          <Include>[Rocket.Surgery.*]*</Include>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <!-- <ExcludeByFile></ExcludeByFile> -->
          <!-- <IncludeDirectory></IncludeDirectory> -->
          <!-- <SingleHit>false</SingleHit> -->
          <!-- <UseSourceLink>true</UseSourceLink> -->
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>